<h1><%= @place["name"] %></h1>

<p><a href="/places">Back to places</a></p>

<% if @entries.length > 0 %>
  <% for entry in @entries %>
    <div class="entry">
      <h3><%= entry["title"] %></h3>
      <p class="entry-date"><em><%= entry["occurred_on"] %></em></p>
      <p><%= entry["description"] %></p>
    </div>
  <% end %>
<% else %>
  <p>No entries yet. Add one!</p>
<% end %>

<p><a href="/places/<%= @place["id"] %>/entries/new">Add a new entry</a></p>
